astroid==2.3.3
bert-serving==0.0.1
bert-serving-client==1.10.0
bert-serving-server==1.10.0
Click==7.0
decorator==4.4.1
Flask==1.1.1
GPUtil==1.4.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
joblib==0.14.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
networkx==2.4
nltk==3.4.5
numpy==1.18.1
pylint==2.4.4
pyzmq==18.1.1
scikit-learn==0.22.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
termcolor==1.1.0
typed-ast==1.4.1
Werkzeug==1.0.0
wrapt==1.11.2
