<!-- {'name': 'Arnav', 'age': 18, 'gender': 'male', 'symptoms': {994: 
    {'Name': 'Knee deformity'}, 257: {'Name': 'Involuntary movements'}, 
    251: {'Name': 'Pain radiating to the arm'}, 235: {'Name': 'Memory gap'}, 
    105: {'Name': 'Yellow colored skin'}}, 'issue': {'Name': 'None', 'Specialists': ['None']}}-->

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Space+Mono&display=swap" rel="stylesheet">    
        <title>
            Dr. Ai | Your Details
        </title>
    </head>
    <body style="background: #F3904F;  /* fallback for old browsers */
                 background: -webkit-linear-gradient(to left, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
                 background: linear-gradient(to left, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
                 padding: 4em 6em;
                 font-family: 'Space Mono', monospace;">
        <div style="margin-top: 1em;">
            <h2 style="text-align: center; color: white;"> Here are some details we gathered! </h2>
        </div><br/><br/>
        <div class="row">
            <div class="col-lg-6" style="margin: auto; width: 30%;">
                <div class="card">
                    <div class="card-body">
                        <h5><strong><u> Your Personal Information </u></strong></h5><br/>
                        <div style="font-size: 0.9em;">
                        <span> <strong>Name</strong>: {% print(user_info['name']) %} </span> <br/>
                        <span> <strong>Age</strong>: {% print(user_info['age']) %} </span> <br/>
                        <span> <strong>Gender</strong>: {% print(user_info['gender']) %} </span> <br/>
                        </div><br/>
                        <h5><strong><u> Symptoms Detected </u></strong></h5><br/>
                        <div style="font-size: 0.9em;">
                            <span> 
                                <strong>Symptoms</strong>: {% print([value for key,value in user_info['symptoms'].items()]) %}
                            </span>
                        </div></br>
                        <h5><strong><u> Diagnosis </u></strong></h5><br/>
                        <div style="font-size: 0.9em;">
                            <span> <strong>Issue</strong>: {% print(user_info['issue']['name']) %} </span> <br/>
                            <span> <strong>Medical</strong>: {% print(user_info['issue']['ProfName']) %} </span> <br/>
                            <span> <strong>Description</strong>: {% print(user_info['issue']['Description']) %} </span> <br/>
                        </div><br/>
                        <h5><strong><u> Suggested Treatment </u></strong></h5><br/>
                        <div style="font-size: 0.9em;">
                            <span><strong>Treatment</strong>: {% print(user_info['issue']['Treatment']) %} </span>
                        </div><br/>
                        <h5><strong><u> Specialists You Should See </u></strong></h5><br/>
                        <div style="font-size: 0.9em;">
                            <span> 
                                <strong>Specialists</strong>: {% print(user_info['issue']['Specialists']) %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div><br/>
        <div class="row" style="text-align: center; color: white; font-size: 1em; margin: auto; width: 50%;">
            <div class="form-check">
                <input style="font-size: 2em;" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"> I want to share the above information with my telemedicine professional </label>
              </div>
        </div></br>
        <div class="row" style="text-align: center; color: white; font-size: 1.5em; margin: auto; width: 50%;">
            <div> 
                <strong><a style="color: white;" href="http://localhost:3000/" target="_blank"> Join Telemedicine call! </a></strong>
            </div>
        </div>
        <br><br/>
    </body>
</html>